In [617]:
from ast import literal_eval
import pandas as pd

In [618]:
# There are multiple genres per movie
df = pd.read_csv("dataset/movies_metadata.csv",usecols=['genres', 'overview'])
# Convert genres string type to list
df['genres'] = df['genres'].apply(lambda x: literal_eval(x)).apply(lambda x: sorted([d['name'] for d in x]))
df.head()

,genres,overview
0,"[Animation, Comedy, Family]","Led by Woody, Andy's toys live happily in his ..."
1,"[Adventure, Family, Fantasy]",When siblings Judy and Peter discover an encha...
2,"[Comedy, Romance]",A family wedding reignites the ancient feud be...
3,"[Comedy, Drama, Romance]","Cheated on, mistreated and stepped on, the wom..."
4,[Comedy],Just when George Banks has recovered from his ...

In [619]:
print(f"There are {len(df)} rows in the dataset.")

There are 45466 rows in the dataset.

In [620]:
# Add String literal of genres to make it hashable for some future data cleaning steps
df['genres_str'] = df['genres'].apply(lambda x: " ".join(str(s) for s in x))
df

,genres,overview,genres_str
0,"[Animation, Comedy, Family]","Led by Woody, Andy's toys live happily in his ...",Animation Comedy Family
1,"[Adventure, Family, Fantasy]",When siblings Judy and Peter discover an encha...,Adventure Family Fantasy
2,"[Comedy, Romance]",A family wedding reignites the ancient feud be...,Comedy Romance
3,"[Comedy, Drama, Romance]","Cheated on, mistreated and stepped on, the wom...",Comedy Drama Romance
4,[Comedy],Just when George Banks has recovered from his ...,Comedy
...,...,...,...
45461,"[Drama, Family]",Rising and falling between a man and woman.,Drama Family
45462,[Drama],An artist struggles to finish his work while a...,Drama
45463,"[Action, Drama, Thriller]","When one of her hits goes wrong, a professiona...",Action Drama Thriller
45464,[],"In a small town live two brothers, one a minis...",
45465,[],50 years after decriminalisation of homosexual...,

In [621]:
total_no_overview = df['overview'].isnull().sum()
print(f"There are {total_no_overview} movies with no overview.")

df = df.dropna(subset = ['overview']).reset_index(drop=True)
print(f"There are {len(df)} rows in the dataset after removing movies with no overview.")

There are 954 movies with no overview.
There are 44512 rows in the dataset after removing movies with no overview.

In [622]:
# Remove movies with no genres
total_no_label = sum(df['genres'].apply(lambda x: len(x) == 0))
print(f"There are {total_no_label} movies with no genres.")

# Remove movies with no genres
df = df[df['genres'].apply(lambda x: len(x)) > 0]
print(f"There are {len(df)} rows in the dataset after removing movies with no genres.")

There are 2185 movies with no genres.
There are 42327 rows in the dataset after removing movies with no genres.

In [623]:
# Check duplicate rows, i.e. movies and labels
print(f'There are {sum(df[["overview", "genres_str"]].duplicated())} duplicate overviews and labels, which means that some duplicate overviews have different labels')
df = df[~df[["overview", "genres_str"]].duplicated()]
print(f"There are {len(df)} rows in the dataset without duplicates.")

There are 113 duplicate overviews and labels, which means that some duplicate overviews have different labels
There are 42214 rows in the dataset without duplicates.

In [624]:
# Check duplicate rows, see that no movie overview is duplicate, so remove no movie overview
print(f'There are still {sum(df["overview"].duplicated())} duplicate overviews which means that some duplicate overviews have different labels')

# Check most recurring duplicates
print('Most recurring duplicates')
df[df["overview"].duplicated()]["overview"].value_counts().rename_axis('unique_values').reset_index(name='counts')

There are still 65 duplicate overviews which means that some duplicate overviews have different labels
Most recurring duplicates

                                        unique_values  counts
0                                  No overview found.      46
1                        No movie overview available.       2
2                                            Released       2
3                                                           2
4   Poor but happy, young Nello and his grandfathe...       1
5   With friends like these, who needs enemies? Th...       1
6   When four women move into an old house left by...       1
7                                         No Overview       1
8   A Russian engineer Petr Garin possesses a uniq...       1
9   A group of travelers, including a monk, stay i...       1
10  Experimental film fragment made with the Ediso...       1
11  Nick Carraway, a young Midwesterner now living...       1
12  Miser Ebenezer Scrooge is awakened on Christma...       1
13  Mary, a writer working on a novel about a love...       1
14  Wilbur the pig is scared of the end of the sea...       1
15  Adventurer Allan Quartermain leads an expediti...       1
16  A wooden boy Buratino tries to find his place ...       1

In [625]:
# Remove remaining duplictes since there is only 14 of them
print(f'There are {sum(df["overview"].duplicated(keep=False))} total duplicate overviews with different labels')

df = df[~df["overview"].duplicated(keep=False)]
print(f"There are {len(df)} rows in the dataset without duplicate overviews with different labels.")

There are 82 total duplicate overviews with different labels
There are 42132 rows in the dataset without duplicate overviews with different labels.

In [626]:
# Shortest movie reviews by str length
pd.DataFrame(df.sort_values(by="overview", key=lambda x: x.str.len())["overview"].unique()).head(30)

                          0
0                         x
1                       ...
2               Documentary
3               French Film
4             Feature film.
5             German Comedy
6             Not Available
7            japanese movie
8            Italian comedy
9           Netflix Special
10          no overview yet
11         No overview yet.
12         Return of Django
13        Made for TV Movie
14        No overview found
15       A skeleton dances.
16       A dance of shapes.
17       The beast is back.
18      Bigfoot documentary
19      The Key to Paradise
20      Finnish Documentary
21      2013 Italian comedy
22     Based on true events
23    A journey into night.
24    Standup in Las Vegas.
25    For a Book of Dollars
26   A film by Jari Halonen
27   Love on the front page
28  Short WW II documentary
29  Frisian movie from 2004

In [627]:
# Shortest movie reviews by word count
pd.DataFrame(df.sort_values(by="overview", key=lambda x: x.str.split().apply(len))["overview"].unique()).head(30)

                                           0
0                                        ...
1                                          x
2                                Documentary
3                            Netflix Special
4                             japanese movie
5                              Not Available
6                             Italian comedy
7                              Feature film.
8                                French Film
9                        Finnish Documentary
10                             German Comedy
11                       Bigfoot documentary
12                         No overview found
13                       2013 Italian comedy
14             Discovery Channel documentary
15                        A skeleton dances.
16                           no overview yet
17                          Return of Django
18                          No overview yet.
19                   English gangster flick.
20  Eurocrime/Poliziotteschi movie from 1978
21                     Standup in Las Vegas.
22              Bulldog protects an heiress.
23                  Fifth Break Blade Movie.
24       Lithuanian politics Tarantino style
25                 Fourth Break Blade Movie.
26          Documentary about crowd funding.
27                         Made for TV Movie
28                 Finnish soft erotic movie
29           Documentary about Paul Williams

In [628]:
# Based on the above tables, let's drop overviews with <= 3 words or with str len <= 20
total_short = sum((df["overview"].apply(lambda x: len(x.split(" "))) <= 3) | (df["overview"].apply(lambda x: len(x)) <= 20))
print(f"There are {total_short} overviews with <= 3 words or <= 20 characters.")

df = df[~((df["overview"].apply(lambda x: len(x.split(" "))) <= 3) | (df["overview"].apply(lambda x: len(x)) <= 20))]
print(f"There are {len(df)} rows in the dataset after removing movies with short overviews.")

There are 25 overviews with <= 3 words or <= 20 characters.
There are 42107 rows in the dataset after removing movies with short overviews.

In [629]:
# There are some genres combinations with occurrence as low as 1.
total_single_occurence_genres_combations = sum(df["genres_str"].value_counts() == 1)
print(f"There are {total_single_occurence_genres_combations} genres combinations that occur only once")

# How many genres unique genres combinations
total_unique_genres_combinations = df["genres_str"].nunique()
print(f"There are {total_unique_genres_combinations} unique genres combinations")

There are 847 genres combinations that occur only once
There are 1908 unique genres combinations

In [630]:
# Since there are 847 single occurence genres combination out of 42107 rows, for simplicity we will drop those rows in order to be able to stratify the train test split on genres.
# If we wanted we could use a better appraoch for example see Multi-label data stratification (http://scikit.ml/stratification.html)
df = df.groupby("genres_str").filter(lambda x: len(x) > 1)#[['overview', 'genres']]

In [631]:
# Analyze labels
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
labels = mlb.fit_transform(df['genres'])
classes = mlb.classes_
label_df = pd.DataFrame(labels, columns=classes)

labels_count = label_df.sum().sort_values(ascending=False)
labels_count

Drama              19540
Comedy             12424
Thriller            7293
Romance             6417
Action              6217
Horror              4481
Crime               4085
Documentary         3811
Adventure           3203
Science Fiction     2801
Family              2548
Mystery             2255
Fantasy             2054
Animation           1745
Music               1473
Foreign             1435
History             1273
War                 1228
Western              946
TV Movie             646
dtype: int64

In [632]:
# Train and test split
from sklearn.model_selection import train_test_split

test_split = 0.1

train_df, test_df = train_test_split(
    df,
    test_size=test_split,
    stratify=df["genres_str"].values,
)

In [633]:
vdf = df["genres_str"].value_counts().rename_axis('unique_values').reset_index(name='counts')

In [634]:
vdf[vdf['counts'] == 2]['unique_values'].to_list()

['Adventure Comedy Crime Science Fiction',
 'Action Horror Science Fiction TV Movie',
 'Action Adventure Fantasy Foreign Science Fiction',
 'Adventure Drama Science Fiction Thriller',
 'Drama Fantasy Music',
 'Action Comedy Crime Horror',
 'Action Crime Drama History',
 'Action Adventure Fantasy Horror Science Fiction',
 'Drama TV Movie Western',
 'Comedy Drama Family Fantasy Romance',
 'Action Foreign Horror Science Fiction',
 'Family Music TV Movie',
 'Adventure Drama Horror Thriller',
 'Crime Drama Romance Western',
 'Action Comedy Drama War',
 'Comedy Documentary History',
 'History Thriller',
 'Action Drama Fantasy Horror Thriller',
 'Comedy Fantasy Horror Thriller',
 'Animation Documentary History',
 'Adventure Crime Drama Mystery Thriller',
 'Action Animation Crime Thriller',
 'Action Animation Romance',
 'Crime Drama Horror Mystery',
 'Comedy Family Romance Science Fiction',
 'Comedy Drama Fantasy Thriller',
 'Adventure Comedy Thriller',
 'Action Adventure Animation Comedy Science Fiction',
 'Adventure Drama Romance Thriller',
 'Comedy Horror Western',
 'Comedy Family Romance TV Movie',
 'Crime Drama Fantasy',
 'Animation Comedy Drama Fantasy',
 'Action Science Fiction Thriller War',
 'Action Adventure Comedy Mystery',
 'Crime Drama Mystery TV Movie Thriller',
 'Adventure Mystery Science Fiction Thriller',
 'Adventure History Romance',
 'History TV Movie War',
 'Action Animation Horror Science Fiction',
 'Adventure History Western',
 'Adventure Drama Romance Western',
 'Adventure Drama Family History',
 'Action Drama Fantasy War',
 'Adventure Comedy Crime Family',
 'Comedy Crime Drama Horror',
 'Documentary Horror Thriller',
 'Animation Fantasy Foreign Science Fiction',
 'Adventure Comedy Crime Thriller',
 'Action Adventure Mystery Science Fiction',
 'Animation Fantasy Music',
 'Action Foreign Mystery Thriller',
 'Animation Crime Documentary',
 'Documentary Fantasy',
 'Animation Family Romance',
 'Comedy Crime Drama Foreign Thriller',
 'Comedy Family Fantasy TV Movie',
 'Animation Horror Mystery Science Fiction',
 'Action Animation Crime Science Fiction',
 'Drama Family Fantasy Romance',
 'Crime TV Movie',
 'Adventure Family Fantasy TV Movie',
 'Crime Documentary Mystery',
 'Adventure Animation Comedy Family Fantasy Music',
 'Action Drama Mystery Romance',
 'Adventure Crime Mystery',
 'Action Drama Foreign Romance Thriller',
 'Crime Fantasy Mystery',
 'Animation Comedy Family Foreign',
 'Fantasy Mystery Romance',
 'Adventure Drama Family Science Fiction',
 'Mystery Thriller War',
 'Family Fantasy Horror Science Fiction',
 'Action TV Movie Western',
 'Action Crime Western',
 'Documentary Drama Thriller',
 'Drama Family Horror',
 'Comedy Crime Fantasy',
 'Family Foreign',
 'Animation Comedy Drama Family Fantasy',
 'Action Adventure Drama History Western',
 'Action Adventure Family TV Movie',
 'Drama Music Mystery',
 'Comedy Drama Romance Western',
 'Adventure Fantasy History',
 'Comedy Foreign Music',
 'Comedy Drama Family Fantasy TV Movie',
 'Crime Drama History Western',
 'Action Adventure Comedy Crime Family',
 'Drama History Romance TV Movie',
 'Action Adventure Comedy Family Music',
 'Action Adventure Comedy Science Fiction Thriller',
 'Comedy Crime Drama Mystery Romance',
 'Animation Comedy War',
 'Animation Family Fantasy TV Movie',
 'Animation Comedy Family Romance',
 'Drama Science Fiction TV Movie Thriller',
 'Drama Family War',
 'Action Animation Drama Thriller',
 'Animation War',
 'Adventure Comedy History Romance',
 'Documentary Drama War',
 'Action Animation Comedy Fantasy',
 'Action Crime Drama Foreign Romance',
 'Adventure Comedy Family Romance',
 'Action Adventure Animation Drama Science Fiction War',
 'Comedy Fantasy Romance TV Movie',
 'Drama Horror Mystery Science Fiction',
 'Crime Documentary Thriller',
 'Action Adventure Family Fantasy Science Fiction Thriller',
 'Action Drama Fantasy Horror Science Fiction',
 'Action Adventure Romance Science Fiction Thriller',
 'Action Comedy Drama Foreign Romance',
 'Action Crime Fantasy',
 'Action Adventure Thriller Western',
 'Action Adventure Comedy Family Romance',
 'Animation Fantasy Thriller',
 'Action Fantasy Mystery',
 'Action Drama Music Romance',
 'Drama Horror Mystery Romance',
 'Drama Fantasy Foreign',
 'Drama Foreign Horror Science Fiction',
 'Adventure Comedy Fantasy Mystery',
 'Crime Drama History Mystery Thriller',
 'Comedy Drama Fantasy Music Romance',
 'Action Adventure Fantasy War',
 'Adventure Family Fantasy Mystery',
 'Comedy Family Fantasy Horror',
 'Action Animation Family Fantasy Science Fiction',
 'Comedy Drama Mystery Science Fiction',
 'Crime History',
 'Action Crime Horror',
 'Action Adventure Comedy Drama Fantasy',
 'Comedy Drama Foreign War',
 'Documentary Drama Music Romance',
 'Documentary Drama Science Fiction',
 'Adventure Comedy Family Fantasy Music',
 'Drama Foreign History War',
 'Action Adventure Drama Family Fantasy',
 'Action Family Science Fiction',
 'Comedy Science Fiction Thriller',
 'Action Drama War Western',
 'Music Science Fiction',
 'Comedy Drama Romance Science Fiction Thriller',
 'Adventure Drama Mystery',
 'Comedy Music War',
 'Action Documentary Drama Thriller',
 'Action Adventure Animation Family Fantasy Science Fiction',
 'Comedy Documentary Family',
 'Adventure Drama Music Romance',
 'Animation Comedy Fantasy Science Fiction',
 'Action Adventure War Western',
 'Action Drama Thriller Western',
 'Action Comedy Family Thriller',
 'Action Adventure Drama Fantasy Romance',
 'Comedy Crime Drama Thriller War',
 'Drama TV Movie War',
 'Music Romance Western',
 'Adventure Animation Science Fiction',
 'Comedy Foreign Music Romance',
 'Action Comedy Crime Fantasy',
 'Action Drama Foreign Science Fiction Thriller',
 'Action History Horror',
 'Adventure Drama Family Fantasy Science Fiction',
 'Drama Horror Thriller War',
 'Animation Music Science Fiction',
 'Action Crime History',
 'Adventure Animation Drama Family Fantasy',
 'Crime Drama Foreign Mystery',
 'Action Drama Family Romance',
 'Comedy Crime Drama Horror Mystery Thriller',
 'Action Adventure Crime Drama Romance',
 'Crime Drama Horror Mystery Romance Thriller',
 'Horror Thriller Western',
 'Crime Documentary Drama',
 'Adventure Drama Foreign',
 'Action Comedy Drama Family Thriller',
 'Comedy Family War',
 'Action Comedy Crime Family',
 'Action Comedy Crime Western',
 'Comedy Drama Horror Mystery Thriller',
 'Drama History Romance War Western',
 'Drama Family History Romance',
 'Crime Drama Family',
 'Comedy Drama Horror Mystery',
 'Action Comedy Drama Romance War',
 'Documentary Foreign War',
 'Comedy Drama Foreign Science Fiction',
 'Adventure Comedy Crime Drama',
 'Drama Romance TV Movie Western',
 'Comedy Fantasy Music Science Fiction',
 'Crime Drama Horror Mystery Science Fiction Thriller',
 'Documentary Foreign History War',
 'Drama Mystery Romance Science Fiction',
 'Comedy Drama Mystery Romance Thriller',
 'Adventure Family Romance',
 'Adventure Fantasy Thriller',
 'Drama Romance TV Movie Thriller',
 'Comedy Drama Music Romance Science Fiction',
 'Comedy Drama Family Fantasy Foreign Romance Science Fiction',
 'History Romance War',
 'Action Crime Fantasy Thriller',
 'Fantasy Foreign Horror Science Fiction',
 'Action Adventure History Western',
 'Drama Music Romance War',
 'Action Crime Drama Foreign Romance Thriller',
 'Drama Foreign Romance War',
 'Action Adventure Animation Fantasy Science Fiction Thriller',
 'Drama Family Western',
 'Action Adventure Drama Family Western',
 'Adventure Comedy Fantasy Horror',
 'Drama Foreign Music',
 'Adventure Crime Romance',
 'Comedy Crime Drama Horror Thriller',
 'Action Comedy Crime Science Fiction',
 'Animation Drama Family Science Fiction',
 'Action Adventure Animation Comedy Family Fantasy',
 'Action Drama Family Thriller',
 'Documentary Music Romance',
 'Drama History Romance Western',
 'Family Western',
 'Drama Foreign Horror Romance',
 'Comedy Drama Family History',
 'Action Adventure Mystery',
 'Action Comedy Drama Romance Western',
 'Action Adventure Drama Romance Thriller',
 'Comedy Drama Foreign Music Romance',
 'Mystery Thriller Western',
 'Action Crime Drama Thriller Western',
 'Action Comedy Fantasy Horror Science Fiction',
 'Action Crime Drama Thriller War',
 'Comedy Mystery Science Fiction',
 'Crime Mystery Science Fiction Thriller',
 'Crime Horror Mystery TV Movie',
 'Action Adventure Drama Mystery Thriller',
 'Action Animation Comedy Horror',
 'Action Comedy Crime Romance Thriller',
 'Action Adventure Animation Science Fiction Thriller',
 'Drama Mystery Romance TV Movie',
 'Comedy Drama History Music',
 'Adventure Animation Comedy Family Fantasy Science Fiction',
 'Action Comedy Science Fiction Thriller',
 'Drama Family Fantasy Romance Science Fiction',
 'Drama Family Science Fiction',
 'Foreign Horror Science Fiction Thriller',
 'Action Comedy Drama History',
 'Action Drama Music',
 'Drama Horror Music Thriller',
 'Action Adventure Animation Drama',
 'Adventure Animation Comedy Family Western',
 'Action Adventure Drama Romance Thriller War',
 'Adventure Family Science Fiction Thriller',
 'Action Drama History Romance',
 'Drama Foreign Horror Mystery Thriller',
 'Comedy Fantasy Mystery',
 'Drama Foreign Horror Mystery Romance Thriller',
 'Comedy Drama Foreign Romance Science Fiction',
 'Horror Mystery Romance Thriller',
 'Comedy Drama Foreign Romance Thriller',
 'Action Comedy Drama Music Western',
 'Action Crime Horror Science Fiction Thriller',
 'Action Comedy Crime Drama Romance Thriller',
 'Action Comedy Documentary Drama',
 'Action Fantasy Science Fiction TV Movie',
 'Horror Mystery TV Movie Thriller',
 'Action Adventure Drama Horror Science Fiction Thriller',
 'Adventure Drama History Romance Western',
 'Comedy Science Fiction War']

In [635]:
cnt = 2
print(len(train_df[train_df["genres_str"].isin(vdf[vdf['counts'] == cnt]['unique_values'].to_list())]))
print(len(test_df[test_df["genres_str"].isin(vdf[vdf['counts'] == cnt]['unique_values'].to_list())]))

536
0

In [636]:
# There are no genres combinations with occurrence as low as 1 in the train data, so we can still use stratify for val split
total_single_occurence_genres_combations = sum(train_df["genres_str"].value_counts() == 1)
print(f"There are {total_single_occurence_genres_combations} genres combinations that occur only once")

# How many genres unique genres combinations
total_unique_genres_combinations = train_df["genres_str"].nunique()
print(f"There are {total_unique_genres_combinations} unique genres combinations")

There are 0 genres combinations that occur only once
There are 1061 unique genres combinations

In [637]:
train_df.to_csv("dataset/train_data.csv")
test_df.to_csv("dataset/test_data.csv")