In [10]:
import pandas as pd
from ast import literal_eval

In [23]:
# There are multiple genres per movie
df = pd.read_csv("dataset/movies_clean_data.csv",usecols=['genres', 'overview'], converters={"genres":literal_eval})
df.head()

,overview,genres
0,"Led by Woody, Andy's toys live happily in his ...","[Animation, Comedy, Family]"
1,When siblings Judy and Peter discover an encha...,"[Adventure, Family, Fantasy]"
2,A family wedding reignites the ancient feud be...,"[Comedy, Romance]"
3,"Cheated on, mistreated and stepped on, the wom...","[Comedy, Drama, Romance]"
4,Just when George Banks has recovered from his ...,[Comedy]

In [24]:
# Analyze labels
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
labels = mlb.fit_transform(df['genres'])
classes = mlb.classes_
label_df = pd.DataFrame(labels, columns=classes)

# Some labels appear only once and are clearly not movie genres, remove them
labels_count = label_df.sum().sort_values(ascending=False)
labels_count

Drama              19540
Comedy             12424
Thriller            7293
Romance             6417
Action              6217
Horror              4481
Crime               4085
Documentary         3811
Adventure           3203
Science Fiction     2801
Family              2548
Mystery             2255
Fantasy             2054
Animation           1745
Music               1473
Foreign             1435
History             1273
War                 1228
Western              946
TV Movie             646
dtype: int64

In [26]:
label_df.shape[0] * label_df.shape[1]

825200